<!DOCTYPE HTML>
<html lang="fr-FR">
	<head>
    <title>Antiquités, Décorations, Belgique — meubles industriels</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#272727">
		<meta name="description" content="Antiquités, Décorations, Belgique on Didier Motte – Antiquités, Décoration">
		<link rel="shortcut icon" href="https://didiermotte.be/favicon.ico">
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="chromeframe">
		Vous utilisez un navigateur <strong>obsolète</strong> . Veuillez <a href="//browsehappy.com/">mettre à jour votre navigateur</a> ou <a href="//www.google.com/chromeframe/?redirect=true">activer Google Chrome Frame</a> pour améliorer votre expérience.</p>
		<![endif]-->
		<header>
		</header>
