
<main>
  <div id="main_card">
    <div id="card_logo">
      <img src="./images/touchwood-logo-sans-slogan-nobelBold-black.png" alt="Didier Motte"/>
    </div>
    <div id="card_labels">
      Antiquités • Décoration • Aménagements d'intérieur
    </div>
    <div id="card_phone">
      ☎ <a href="tel:+32495205934" title="Cliquez pour lancer un appel téléphonique: +32 495/20.59.34">+32 495/20.59.34</a>
    </div>
    <div id="card_nav">
      <ul>
        <li><a href="https://didiermotte.be/didier-motte-2/">Présentation</a></li>
        <li><a href="index.php?action=stock">Le stock</a></li>
        <li><a href="https://didiermotte.be/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
  <blockquote id="citation">
    <span>"L'ennui naquit un jour de l'uniformité"</span>
    <cite>– Antoine Houdar de la Motte</cite>
  </blockquote>
</main>
