
<main>
  <div id="main_card">
    <div id="card_logo">
    </div>
    <div id="card_labels">
      Antiquités • Décoration • Aménagements d'intérieur
    </div>
    <div id="card_phone">
      ☎ <a href="tel:+32495205934" title="Cliquez pour lancer un appel téléphonique: +32 495/20.59.34">+32 495/20.59.34</a>
    </div>
    <div id="card_nav">
      <ul id="menu-menu-principal" class="nav top-nav clearfix">
        <li id="menu-item-282" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-282"><a href="https://didiermotte.be/didier-motte-2/">Présentation</a></li>
        <li id="menu-item-455" class="menu-item menu-item-type-post_type_archive menu-item-object-objet menu-item-455"><a href="https://didiermotte.be/stock/">Le stock</a></li>
        <li id="menu-item-283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-283"><a href="https://didiermotte.be/contact/">Contact</a></li>
      </ul>
    </div>
  </div>

  <!-- <div id="branding">
    <a id="logo" href="https://didiermotte.be/" rel="nofollow"><b> antiquités, Décoration, design d'intérieur, Belgique</b></a>
    <p id="tagline"></p>
    <p id="contact-info"></p>
    <nav id="main-menu" role="navigation">

    </nav>
  </div> -->
</main>
