#welcome li a {
  @include font-size(1.3);
}

#welcome.minimized #branding #main-menu {
  max-width: 60%;

  li {
    max-width: 32%;
    margin: 0 1% 0 0;
    display: inline-block;
  }

  a {
    @include font-size(1.4);

    padding: 5px 10px;
  }
}
