// Main menu on homepage can now spread horizontally.
body.home {
  #welcome {
    #branding {
      #main-menu {
        ul {
          li {
            max-width: 32%;
            margin: 0 1% 40px 0;
            display: inline-block !important;
          }
        }
      }
    }
  }
}
