body{
	#welcome,
	#welcome.minimized{
		position:fixed;
		z-index:100;
	}
	.first{
		padding-top:210px;
	}
}
body.home{
	#welcome{
		position:relative;
	}
	#welcome.minimized{
		position:fixed;
		z-index:100;
	}
	.first{
		padding-top:40px;
	}
}