body {
	margin:0px;
	/* When using the shorthand property the order of the property values is:
     background-color
     background-image
     background-repeat
     background-attachment:  scroll|fixed|local|initial|inherit;
     background-position:left top
				left center
				left bottom
				right top
				right center
				right bottom
				center top
				center center
				center bottom
		 */
	background: #ffffff url('../../images/NY_docks_o.jpg')  no-repeat fixed center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
header{
	background: #272727;
	border-bottom: 1px solid black;
	height: 40px;
}
main{
  display:flex;
	flex-direction: column;
	}
	#main_card {
		display:flex;
		flex-direction: column;
		margin: auto auto;
		border-radius: 7px;
		padding: 10px;
		height: 80px;
		/* flex:1; */
		background: #ffffff;
		/* border-bottom: 1px solid #333;
		overflow: visible; */
	}
	#card_logo {
		margin: 0;
		width: 239px;
		height: 75px;
		background:  url('../../images/touchwood-logo-sans-slogan-nobelBold-black.png') top left no-repeat;
		background-size: contain;
		float: left;
		max-width: auto;
	}
	#card_labels {
		display: block;
		position: absolute;
		margin-top: -35px;
		top: 0;
		left: 0;
		color: $white;
		float: left;
	}
	#card_phone {
		float: right;
		clear: right;
		padding: 0.5em;
		margin: 0;
		margin-right: 2em;
		line-height: 2;
		vertical-align: middle;
		width: 20%;
		display: inline-block;
		line-height: 1.5;
		vertical-align: middle;
		text-align: right;
		text-decoration: none;
		/* color: white; */
	}
	#card_nav {
		order:3;
		float: right;
		clear: right;
		padding: 0.5em;
		margin: 0;
		margin-right: 2em;
		line-height: 2;
		vertical-align: middle;
		width: 20%;
		display: inline-block;
		line-height: 1.5;
		vertical-align: middle;
		text-align: right;
		text-decoration: none;
		/* color: white; */
	}

	#card_nav a {
		border-bottom-width: 0;
		/* color: white; */
	}
/*
#contact-link {
	display: inline;
	border-bottom-width: 1px;
	margin-left: 10px;
} */

				/* &:before {
					content: '\A';
				} */

	/* body > div > header, nav, footer{
		color: #f0f0f0;
		font-size: 20px;
		text-shadow: 2px 2px 6px #000;
		text-align: center;
		background: #999999;
		background: linear-gradient(#999, #333);
		background-color: gray;
		border-radius:7px;
		margin:5px;
		padding:20px;
	} */
	/* body > div > header{
	  order:-1;
	  height:40px;
	  flex:0 1 100%;
	} */
	/* body > div > nav{
	  order:1;
	  flex:0 1 200px;
	} */
	/* body > div > aside{
	  order:4;
	  flex:0 1 200px;
	} */
	/* body > div > footer{
	  height:100px;
	  order:5;
	  flex:0 1 100%;
	} */
