body {
  margin:0px;
	/* When using the shorthand property the order of the property values is:
     background-color
     background-image
     background-repeat
     background-attachment
     background-position */
	background: #ffffff url('../../images/NY_docks_o.jpg') no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
	body > div{
	  display:flex;
	  flex-flow:row wrap;
	}
	body > div > header, nav, main, aside, footer{
	  border-radius:7px;
	  margin:5px;
	  padding:20px;
	}
	body > div > header, nav, footer{
		color: #f0f0f0;
		font-size: 20px;
		text-shadow: 2px 2px 6px #000;
		text-align: center;
		background: #999999;
		background: linear-gradient(#999, #333);
		background-color: gray;
		border-radius:7px;
		margin:5px;
		padding:20px;
	}
	body > div > header{
	  order:-1;
	  height:40px;
	  flex:0 1 100%;
	}
	body > div > nav{
	  order:1;
	  flex:0 1 200px;
	}
	body > div > main{
	  order:2;
	  min-height:400px;
	  flex:1;
	}
	body > div > aside{
	  order:4;
	  flex:0 1 200px;
	}
	body > div > footer{
	  height:100px;
	  order:5;
	  flex:0 1 100%;
	}
